<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista clientes</title>
</head>
<body>
    <h1>Lista de clientes</h1>
    <p th:text=${todos}></p>
    <div>
        <table >
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>edad</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="cliente : ${clientes}">
                    <td th:text="${cliente.nombre}"></td>
                    <td th:text="${cliente.apellido}"></td>
                    <td th:text="${cliente.edad}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>